/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #26A69A;
  --secondary-color: #D0EBEA;
  --secondary-color-light: #80CBC4;
  --text-light: #728f9e;
  --light: #263339;
  --dark: #263339;
  --black: #000000;
  --max-width: 1200px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 20px 20px;
  background: radial-gradient(circle, var(--secondary-color), var(--primary-color));
}



h1{
  text-align: center;
  margin: 2px ;
  color: white;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(19, 208, 215, 0.762);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 0.8rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus, select:focus {
    box-shadow: 0 0 10px rgba(17, 118, 219, 0.581);
    border: 2px solid rgb(10, 61, 128);
}
.form .column {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 10px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 0.8rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}


select {
    height: 40px;
    width: 200px;
    border: 1px solid rgba(150, 150, 150, 0.403);
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    margin-top: 8px;
}

#prob-statement{
    width: 100%;
}

.info-block {
    margin: 2rem 1rem;
}

#add-stud-btn{
    width: 200px;
    height: 50px;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(17, 145, 51);
    margin: 1rem auto;
    text-align: center;
    cursor: pointer;
    display: grid;
    place-items: center;
}

#add-stud-btn:hover{
  background-color: rgb(3, 112, 32);
}

.remove-stud-btn{
  width: 150px;
  height: 40px;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  background-color: rgba(162, 16, 16, 1);
  /* margin: 1rem auto; */
  text-align: center;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.remove-stud-btn:hover{
background-color: rgb(118, 5, 5);
}


form .stud-3-details{
    display: none;
}

.remove{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-icon-box img{
  height: 40px;
  width: auto;
  padding: 5px;
}

nav{
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* border-radius: 15px; */
}

.nav-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  padding: 5px 30px ;
  align-items: center;

  /* border-radius: 15px */
}

/* nav a {
  padding: 10px;
  
} */
.nav-link{
  text-align: center;
}

.bd-rt {
  border-right: 0.5px solid black;
}

.nav-link a{ 
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.nav-link a:hover{
  text-decoration: underline;
  color: #0c139c;
}

.yip {
  font-size: 20px;
  text-align: center;
}

.instruction{
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.instruction a{
  text-decoration: none;
  color: #0411ff;

} 

.instruction a:hover{
  text-decoration: underline;
}

h5{
  text-align: center;
  margin-top: 15px;
}

.asterics{
  color: red;
  display: inline;
}
.input-error {
  color: red;
  font-size: small;
  margin-left: 15px;
  display: none;
}

/*Responsive*/
@media screen and (max-width: 600px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
  .container{
    width: 100vw;
  }
  body{
    background-color: white;
  }

  .nav-icon-box a, .nav-link a{
    margin: 2px;
  }
  .remove{
    justify-content: space-around;
  }

  .nav-link a{
    padding: 7.5px;
  }

  .nav-container{
    padding: 5px;
  }
  
  h1{
    font-size: 1.5rem;
  }

  body{
    padding: 0 0 20px;
  }
  .nav-icon-box img {
    height: 30px;
    width: auto;
    padding-right: 0 10px 0 5px;
    
  }
}

@media screen and (max-width: 400px){
  .yip{
    display: none;
  }
  .nav-icon-box img {
    height: 30px;
    width: auto;
    padding-right: 0 10px 0 5px;
    
  }

  .nav-link a {
    font-size: 15px;
  }

  .container{
    padding: 0;
  }

  
  h1{
    font-size: 1.2rem;
  }

  #save-btn {
    width: 70%;
    margin: 30px 15% 10px;
    
  }

  
}